body {
    background-color: cadetblue;

}

.wrapper {
    width: 980px;
    margin: 20px auto;

}

header {
    background-color: aliceblue;
}

nav {
    background-color: antiquewhite;
    margin-top: 20px;

}

nav ul {}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    background-color: chartreuse;
    padding: 5px;
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    background-color: aqua;
}

main {
    background-color: aquamarine;

}

footer {
    background-color: blueviolet;

}
