body {
    background-color: cadetblue;

}

/*Typography*/



p {}

h1,
h1 a {
    font-family: 'Poiret One', cursive;
    font-size: 30pt;
    text-decoration: none;
    text-transform: uppercase;
    margin: 30px;
}

h2 {}

h3 {}


/*Anchors*/

a {
    font-family: 'Poiret One', cursive;
}

a:hover {}

a:visited {}

a:active {}

.wrapper {
    width: 980px;
    margin: 20px auto;



}

header {
    background-color: aliceblue;
}

.hero {
    min-height: 400px;
    background-color: fuchsia;
}

nav {
    display: inline;
    background-color: antiquewhite;
    margin-top: 20px;
    min-height: 100px;

}

nav ul {
    float: right;
}

nav ul li {
    display: list-item;
    margin-right: 10px;
    margin-top: 15px;

}

nav ul li a {
    background-color: chartreuse;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 24pt;

}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

main {
    background-color: aquamarine;
    overflow: auto;

}

footer {
    background-color: blueviolet;

}
